table{
    width: 100%;
    border-collapse:collapse; 
 
}
th,td{
    padding: 10px;
}
.head{
  color:black;
  font-weight:bold;
  text-align:left;
}
th:nth-child(3),
th:nth-child(5){
    text-align:center;
}
td:nth-child(3),
td:nth-child(5)
{
    text-align:center;
}
tr:nth-child(even){
    background-color:wheat;
}
tr:hover{
    background-color:lightblue;
}
.passed{
    background:rgb(165, 213, 165);
    
}
.failed{
    background:rgb(222, 171, 171);
    
}